.App {
  background-color: dimgray;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.center-items {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.td-center {
  text-align: center;
}

.post-modal td {
  padding: 10px;
}

.voting-btn button {
  background-color: transparent;
  border: none;
  padding: 5px 0px;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

.card {
  background-color: whitesmoke;
}

.bus-emoji {
  /* position: absolute; */
  animation:alternate-reverse infinite;
  animation-name: run;
  animation-duration: 6.5s;
  z-index: -1;
}

@keyframes run {
  0% {
    padding-left: 85%;
    padding-top: 0;
  }

  5% {
    padding-top: 0.5%;
  }

  10% {
    padding-top: 0%;
  }

  15% {
    padding-top: 0.5%;
  }

  20% {
    padding-top: 0%;
  }

  25% {
    padding-top: 0.5%;
  }

  30% {
    padding-top: 0%;
  }

  35% {
    padding-top: 0.5%;
  }

  40% {
    padding-top: 0%;
  }

  45% {
    padding-top: 0.5%;
  }

  50% {
    padding-top: 0%;
  }

  55% {
    padding-top: 0.5%;
  }

  60% {
    padding-top: 0%;
  }

  65% {
    padding-top: 0.5%;
  }

  70% {
    padding-top: 0%;
  }

  75% {
    padding-top: 0.5%;
  }

  80% {
    padding-top: 0%;
  }

  85% {
    padding-top: 0.5%;
  }

  90% {
    padding-top: 0%;
  }

  95% {
    padding-top: 0.5%;
  }

  100% {
    padding-right: 95%;
  }
}